section{
    background-color: #EBEBEB;
}
.header{
    background-color: #FFFFFF;
}
.logo{

}
.header_best_currency{
    border-left: #c9c9c9 solid 1px;
    padding: 10px 10px 0px;
}
.header_best_currency_title{
    text-transform: uppercase;
    width: 255px;
    height: 21px;
}
.left{
    float: left;
}
.right{
    margin-top: 5px;
    font-size: 11px;
    color: #999999;
    float: right;
}
.header_best_currency_content{
    display: flex;
    margin-top: 12px;
}
.box{
    font-size: 12px;
    width: 85px;
    height: 50px;
}
.flag{
    margin-right: 4px;
    width: 18px;
    height: 12px;
}
.main-nav{
    position: relative;
    background-color: #a52319;
    box-shadow: 0 9px 9px -7px rgba(0,0,0,.3);
}
ul.list-inline {
    margin: 0;
}
.main-nav .logo{
    display: none;
    height: 0;
    width: 0;
}
.menu{
    font-size: 20px;
    color: white;
    display: inline;
    margin-right: 5px;
    padding: 15px;
}
.menu:hover{
    background-color: rgba(212, 148, 143, 0.49);
    cursor: pointer;
}
.headhesive{
    background-color: white;
    position: fixed;
    width: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
}
.headhesive--stick{
    transform: translateY(0);
    z-index: 100;
}
.headhesive--stick .menu{
    color: #a52319;
}
.headhesive--stick .menu:hover{
    cursor: pointer;
    background-color: #a52319;
    color: white;
}
.headhesive--stick .logo{
    display: block;
    opacity: 1;
    width: 95px;
    height: 50px;
    margin-right: 15px;
    padding: 5px;
}
/***********SLIDER*****************/

/**********************/


